.seeds {
	box-shadow: 0 4px 8px 0 rgba(84, 0, 216, 0.2);
	text-align: left;
}

.price {
	color: rgb(84, 0, 216);
	font-size: 20px;
}

.seeds button {
	padding: 8px;
	background-color: rgb(84, 0, 216);
	color: black;
	text-align: center;
	cursor: pointer;
}

.seeds button:hover {
	opacity: 0.75;
}