div {
	background-color: #d1bcc9;
	font-size: 1.5em;
	margin: 25px;
	justify-content: center;
}

h1 {
	justify-content: center;
	font-style: italic;
}

a {

	justify-content: right;
}

#div_intro {
	background-color: #d1bcc9;
	font-size: 1.5em;
}