div {
	
	font-size: 1.5em;
	margin: 25px;
	padding: 10px;
}

h1 {
	text-align: center;
	font-style: italic;
}

a {

	text-align: right;
}

#div_intro {
	background-color: #d1bcc9;
	font-size: 1.5em;
}

#pademelon {
	background-color: #b0e0e6;
}

#cliff {
	background-color: #f5deb3;
}

#wombat {
	background-color: #b0e0e6;
}

