div {
	font-size: 1.5em;
	margin: 25px;
	padding: 10px;
}

h1 {
	text-align: center;
	font-style: italic;
}

.assignments {
	text-align: right;
}

#div_intro {
	background-color: #d1bcc9;
}

#pademelon {
	background-color: #b0e0e6;
}

#cliff {
	background-color: #bdb76b;
}

#wombat {
	background-color: #b0c4de;
}

#summary {
	background-color: #d1bcc9;
}

#pademelon_info {
	border-bottom: 1px dotted black;
}

#pademelon_info #pademelon_text {
	visibility: hidden;
	width: 240px;
	background-color: #d1bcc9;
	color: black;
	text-align: center;
	font-size: .75em;
	padding: 3px 0;

	position: absolute;
	z-index: 1;
	bottom: 100%
	left: 50%;
	margin-left: -120px;
}

#pademelon_info:hover #pademelon_text {
	visibility: visible;
}

#cradle_mountain {
	border-bottom: 1px dotted black;
}

#cradle_mountain #cradle_mountain_text {
	visibility: hidden;
	width: 240px;
	background-color: #b0e0e6;
	color: black;
	text-align: center;
	font-size: .75em;
	padding: 3px 0;

	position: absolute;
	z-index: 1;
	bottom: 100%
	left: 50%;
	margin-left: -120px;
}

#cradle_mountain:hover #cradle_mountain_text {
	visibility: visible;
}











